{% extends 'base.html' %}
{% block title%}网站|首页{% endblock%}

{% load staticfiles %}
{%block sub_type %}
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
	<div class="container">
	    <div class="row">
	    	<div class="col-xs-6 col-md-4 col-offset-2">
			  	<div class="panel panel-primary" id="blog-min-width">
					<div class="panel-heading">
					   <h3 class="panel-title">当天热门博客</h3>
					</div>
					<div>
					    {% for hot_data in today_hot_data %}
								<li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num}})</li>
							{% empty %}
								暂无热门博客！
							{% endfor %}
					</div>
				</div>
				<div class="panel panel-primary" id="blog-min-width">
				  <div class="panel-heading">
				    <h3 class="panel-title">昨天热门博客</h3>
				  </div>
				  <div>
				    {% for hot_data in yesterday_hot_data %}
						<li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num}})</li>
					{% empty %}
						暂无热门博客！
					{% endfor %}
				  </div>
				</div>
				<div class="panel panel-primary" id="blog-min-width">
				  <div class="panel-heading">
				    <h3 class="panel-title">7天热门博客</h3>
				  </div>
				  <div>
				    {% for hot_blog in get_seven_days_hot_blogs %}
						<li><a href="{% url 'blog_detail' hot_blog.id %}">
						{{ hot_blog.title }}</a> ({{ hot_blog.read_num_sum}})</li>
					{% empty %}
						<li>暂无热门博客！</li>
					{% endfor %}
				  </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8">
			  暂无内容
			</div>
	  	</div>
	</div>
{% endblock %}